name: Scala CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./starttemplate

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'sbt'

    - name: Setup sbt
      uses: sbt/setup-sbt@v1

    # Шаг 1: Запускаем тесты и ГЕНЕРИРУЕМ отчет (без отправки)
    - name: Run Tests and Generate Report
      run: sbt clean coverage test coverageReport

    # Шаг 2: ОТПРАВЛЯЕМ отчет через официальный Action
    # Он сам найдет нужный токен и определит сервис
    - name: Upload coverage to Coveralls
      uses: coverallsapp/github-action@v2
      with:
        # Для этого экшена нужен GITHUB_TOKEN (он встроенный, ничего настраивать не надо)
        github-token: ${{ secrets.GITHUB_TOKEN }}
        # Путь к отчету, который сгенерировал sbt (в формате Cobertura)
        file: starttemplate/target/scala-3.3.6/coverage-report/cobertura.xml
        format: cobertura