name: Scala CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'sbt'

    - name: Run Tests with Coverage
      # Run Tests, count Coverage
      run: sbt clean coverage test

    - name: Generate Coverage Report
      # geterate XML report
      run: sbt coverageReport

    - name: Upload to Coveralls
      # send report, using secret token
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
      run: sbt coveralls
